header {
  height: 400px;
  width: 100%;
  background-color: rgb(255, 136, 0);
  background-image: url(../images/blizzard.png);
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: -50px;
  align-items: center;
  position: relative;
  top: 120px;

}

.yourName {
  transform: translateY(-50%)
}