nav {
  display: flex;
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  top: 0;
  width: 100%;
  align-items: center;
  padding: 0 1.5em 0 1.5em;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

#rightHeader {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  align-items: center;
}

#rightHeader > span {
  transform: translateY(45%)
}

#rightHeader > button {
  background: transparent;
  border: 0;
  color: red;
  display: flex;
  align-self: center;
  transform: translateY(60%);
}

@media only screen and (max-width: 1024px) {
  nav {
    background-color: rgb(255, 136, 0);
    background-image: url(../images/blizzard.png);
  }
}

